<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TOD*O</title>
    <link rel="stylesheet" href="/static/css/main.css">
    <script type="module" src="https://cdn.jsdelivr.net/gh/starfederation/datastar@1.0.0-beta.11/bundles/datastar.js"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
<body>
    <main id="main" class="gc">
        <div data-on-load="@get('/todo')">
        </div>
    </main>
    <footer class="gc gt s">
        <p>Made with love by a cat <span class="material-icons">pets</span></p>
    </footer>
</body>
</html>
